[submodule ".config/tmux/tmux-onedark-theme"]
	path = .config/tmux/tmux-onedark-theme
	url = https://github.com/odedlaz/tmux-onedark-theme.git
[submodule "bin/scripts/vimv"]
	path = bin/scripts/vimv
	url = https://github.com/thameera/vimv
[submodule ".config/dotfiles/Layan-cursors"]
	path = .config/dotfiles/Layan-cursors
	url = https://github.com/vinceliuice/Layan-cursors
[submodule ".config/dotfiles/fzf-tab-completion"]
	path = .config/dotfiles/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
