Xft.dpi: 96

! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! black
*.color0:        #1E2127
! Grey
*.color8:        #5C6370
! Red
*.color1:        #E06C75
! Green
*.color2:        #98C379
! Yellow
*.color3:        #D19A66
! Blue
*.color4:        #61AFEF
! Magenta
*.color5:        #C678DD
! Cyan
*.color6:        #56B6C2
! Whites
*.color7:        #ABB2BF
*.color9:       #FFFFFF
